langchain==0.3.23
langgraph==0.3.31
langchain-dashscope==0.1.8
oss2==2.19.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pillow==11.2.1
pdf2image==1.17.0
langchain-community==0.3.21
langchain-core==0.3.54
langchain-text-splitters==0.3.8
dashscope==1.23.1